.env
venv/
db.sqlite3
*.log
debug_chat_log.txt
media/tts/
db.sqlite3.bak
local_stores.json
data/FileStore/
media/questions/explanations/
chapter_*.html
!**/chapter_detail.html
!**/chapter_list.html
exam_questions_selected.html
chapter_*.pdf
*.sqlite3*
explanations_*.json
